<div>

    <ul class="nav nav-sidebar">
        <li class="active" data-toggle="collapse" href="#collapseSection1"><a href="">Original Raw Data</a></li>
    </ul>

    <ul class="nav nav-sidebar" id="collapseSection1">
        <li ui-sref="home.HailRawData"><a href>Historical Hail Raw Data</a></li>
        <li ui-sref="home.ClaimRawData"><a href>Insurance Claims Raw Data</a></li>
    </ul>

    <ul class="nav nav-sidebar">
        <li class="active" data-toggle="collapse" href="#collapseSection2"><a href="">Historical Hail Data Analysis</a></li>
    </ul>

    <ul class="nav nav-sidebar" id="collapseSection2">
        <li ui-sref="home.PopulationAffectedA" ><a href>Population Affected Data Analysis A</a></li>
        <li ui-sref="home.PopulationAffectedB" ><a href>Population Affected Data Analysis B</a></li>
    </ul>


    <ul class="nav nav-sidebar">
        <li class="active" data-toggle="collapse" href="#collapseSection3"><a href="">Insurance Claims Data Analysis</a></li>
    </ul>
    <ul class="nav nav-sidebar" id="collapseSection3">
        <li ui-sref="home.AverageClaim" ><a href>Average Claims</a></li>
    </ul>
    
         
    <ul class="nav nav-sidebar">
        <li class="active" data-toggle="collapse" href="#collapseSection4"><a href="">Relation Between Insurance and Hail Data</a></li>
    </ul>
    <ul class="nav nav-sidebar" id="collapseSection4">
        <li ui-sref="home.Relation" ><a href>Correlation Analysis</a></li>
    </ul>
          
</div>